.timerAnimation {
  /*opacity: 0;*/
  margin-top: 0;
  transition: all 1s ease;
  z-index: 0;
}

.timer {
  align-items: center;
  justify-content: center;
}

.timerContainer {
  display: flex;
  justify-content: space-between;
}

.timerCountDot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 35px;
}

.timerTitle {
  color: var(--color-main);
  font-weight: 500;
  font-size: 52px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 5.2px;
}

.timerBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 130px;
}

.timerBoxText {
  color: var(--color-text-main);
  font-weight: 400;
  font-size: 22px;
}

.timerBoxValue {
  color: var(--color-text-main);
  font-weight: 600;
  font-size: 76px;
  line-height: 100px;
}

@media only screen and (max-width: 1200px) {
  /* .timer {
    display: none;
  } */
}
@media only screen and (max-width: 1100px) {
  .timerTitle {
    font-size: 36px;
  }

  .timerBoxText {
    font-size: 21px;
  }

  .timerBoxValue {
    font-size: 46px;
  }

  .timerBox {
    width: 100px;
    margin: 0 5px;
  }
}

@media only screen and (max-width: 550px) {
  .timerTitle {
    font-size: 28px;
  }

  .timerBoxText {
    font-size: 16px;
  }

  .timerBoxValue {
    font-size: 36px;
  }

  .timerBox {
    width: 70px;
  }

  .timerCountDot {
    margin-top: 25px;
  }
}
