.endImage {
  width: 100%;
  height: auto;
  min-height: 500px;
  position: absolute;
  z-index: -1;
  object-fit: cover;
}

.endBC {
  margin-top: 0;
}

.end {
  min-height: 500px;
}

.endTitle {
  text-align: center;
  color: #f5f5f5;
  font-weight: 600;
  font-size: 60px;
  max-width: 1200px;
  margin-bottom: 13px;
  user-select: none;
}

.endButton {
  background-color: var(--color-white);
  width: 206px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 28px;
  font-weight: 500;
  font-size: 15px;
  color: var(--color-background);
  cursor: pointer;
}

.endButton2 {
  border: 2px solid #ffffff;
  width: 202px;
  height: 51px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 28px;
  font-weight: 500;
  font-size: 15px;
  color: var(--color-text-main);
  cursor: pointer;
  margin-left: 30px;
}

.endButton:hover,
.endButton2:hover {
  -webkit-transform: scale(1.05);
}

.endButton:active,
.endButton2:active {
  -webkit-transform: scale(1.08);
}

@media only screen and (max-width: 1200px) {
  .endTitle {
    font-size: 48px;
  }
}

@media only screen and (max-width: 650px) {
  .endTitle {
    font-size: 36px;
  }
}

@media only screen and (max-width: 550px) {
  .endTitle {
    font-size: 28px;
  }

  .endButton2 {
    margin-left: 0;
    margin-top: 20px;
  }
}
