.contactBC {
  /*opacity: 0;*/
  transition: all 1s ease;
}

.contact {
  align-items: center;
  justify-content: center;
}

.contactContainer {
  padding: 90px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 900px;
}

.contactTitle {
  text-align: center;
  color: #f5f5f5;
  font-weight: 600;
  font-size: 60px;
  max-width: 480px;
  margin-bottom: 13px;
}

.contactText {
  text-align: center;
  color: #f5f5f5;
  font-weight: 300;
  font-size: 21px;
  max-width: 1080px;
  margin-bottom: 40px;
  line-height: 40px;
  opacity: 0.5;
}

.contactVideo {
  width: 100%;
}

.contactVid {
  border-radius: 16px;
  overflow: hidden;
}

@media only screen and (max-width: 1100px) {
  .contactText {
    max-width: 80vw;
  }

  .contactVid {
    max-width: 95vw;
  }
}

@media only screen and (max-width: 1100px) {
  .contactTitle {
    font-size: 46px;
  }

  .contactText {
    font-size: 16px;
  }

  .contactEmail {
    font-size: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .contactContainer{
    margin-top: 50px;
  }
  .contactTitle {
    font-size: 36px;
    max-width: 380px;
    margin-bottom: 13px;
  }

  .contactText {
    font-size: 16px;
    margin-bottom: 40px;
  }

  .contactEmail {
    font-size: 18px;
  }
}
