.browse {
  padding-bottom: 50px;
}

.introLRight {
  flex: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.introRightText {
  font-weight: 400;
  font-size: 20px;
  color: var(--color-text-main);
  max-width: 550px;
  opacity: 0.5;
  text-align: right;
  margin-bottom: 35px;
}

.browseLeftImage {
  position: absolute;
  top: -80px;
  left: 40%;
  transform: translate(-50%);
  z-index: 1;
}
.browseRightImage {
  position: absolute;
  top: 270px;
  left: 70%;
  transform: translate(-50%);
  z-index: 2;
}

.h1Right {
  font-weight: 600;
  font-size: 40px;
  color: var(--color-text-main);
  text-align: right;
  max-width: 582px;
  padding: 0;
  margin: 0;
  margin-bottom: 3px;
}

@media only screen and (max-width: 1200px) {
  .introLRight {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .introRightText {
    text-align: center;
  }
  .h1Right {
    text-align: center;
  }

  .browse {
    flex-direction: column-reverse !important;
  }
}

@media only screen and (max-width: 800px) {
  .introLRight {
    padding: 0 20px;
  }
  .h1Right {
    font-size: 28px;
    max-width: 380px;
  }

  .introRightText {
    font-size: 18px;
  }
}
